@font-face {
    font-family: "Mona Sans";
    src: url('Mona Sans.ttf');
}

@font-face {
    font-family: "Source Serif 4";
    src: url('Source Serif 4');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mona Sans",sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #F8F7F4;
}

.page1 {
    width: 100%;
    height: 100%;
}

.nav {
    height: 110px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-part1 {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

.nav-part1 h4 {
    font-weight: 600;
    font-size: 0.9rem;
}

.nav-part2 {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.nav-part2 button {
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: black;
}

.nav-part2 button:nth-child(2) {
    background-color: black;    
    color: white;
}

.nav img {
    height: 5rem;
}

.content {
    height: calc(100% - 110px);
    padding-top: 4rem;
}

.content h3 {
    background-color: #F3B0EA;
    font-family: "Source Serif 4";
    font-size: 1rem;
    width: fit-content;
    padding: 0.7rem 1.5rem;
    border-radius: 10rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.content h1 {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    font-size: 4.5rem;
    font-family: "Source Serif 4";
    font-weight: 100;
    line-height: 4.1rem;
}

.content h4 {
    text-align: center;
    font-size: 1.25rem;
}

.content .start-btn {
    background-color: black;
    color: white;
    margin-top: 2rem;
    padding: 0.7rem 1.25rem;
    font-size: 1rem;
    font-weight: 900;
    border-radius: 10rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.bottom {
    padding: 1rem;
    margin-top: 2.12rem;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.bottom::-webkit-scrollbar {
    display: none;
}

.bottom .elem {
    display: inline-block;
    width: 15rem;
    height: 15.2rem;
    margin-right: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    background-color: royalblue;
}

.bottom .elem img, .bottom .elem video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bottom-text {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0;
    padding: 1rem;
}

.bottom-text h5 {
    color: white;
    letter-spacing: 1px;
    line-height: 1.2rem;
}

.bottom-text button {
    font-size: 0.8rem;
    font-family: "Mona Sans";
    color: white;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.475);
    padding: 0.2rem 0.5rem;
    margin-top: 0.5rem;
    border-radius: 10rem;
}

.page2 {
    width: 100%;
    height: 100%;
    padding: 6rem 3rem;
    position: relative;
}

.page2 > h1 {
    /* background-color: #FFECBC; */
    width: fit-content;
    font-size: 2.7rem;
    font-weight: 900;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3rem;
}

.box {
    display: inline-block;
    width: 19rem;
    height: 13rem;
    margin-right: 1.5rem;
    margin-bottom: 4rem;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.5s linear;
}

.box:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.828);
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-bottom {
    width: 100%;
    height: 50%;
    padding: 0 1rem;
    position: absolute;
    bottom: -50%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.675));
    transition: bottom 0.3s linear;
}

.box:hover .box-bottom {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-bottom h5 {
    color: white;
    width: 60%;
    font-size: 1.2rem;
}

.box-bottom i {
    background-color: white;
    padding: 0.7rem 0.8rem;
    border-radius: 50%;
    font-size: 1.2rem;
}